input[type="radio"] {
      display: none;
    }

    label {
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #ccc;
      text-align: center;
      line-height: 30px;
      margin-right: 10px;
      cursor: pointer;
    }

    input[type="radio"]:checked + label {
      background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(8,244,155,1) 1%, rgba(81,66,144,1) 100%);
      color: #fff;
    }